/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-blocks-course-team-members {
	display: flex;
	flex-wrap: wrap;
	@for $i from 1 through 6 { /* a lopp in scss, i is the the counter */
		&.has-#{$i}-columns { /* note how the hash is used to create an expression. This is  the same as a template literal in JS. */ 
			.wp-block-blocks-course-team-member {
				width: calc(100% / #{$i} - 20px) /* we then calculate the value which is 100% of the elements width divided by the number of columns. For example if it was 5 columns the compliled css would be  width: calc(100% / 5) */
			}
		}
	}

	.wp-block-blocks-course-team-member {
		margin: 10px;
	}
}
